<p id="notice"><%= notice %></p>

<p>
  <strong>Url substring:</strong>
  <%= @url_exclusion.url_substring %>
</p>

<%= link_to 'Edit', edit_url_exclusion_path(@url_exclusion) %> |
<%= link_to 'Back', url_exclusions_path %>
