// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
@import 'modules/flashes';
@import 'modules/default';
@import 'modules/sul-footer';
@import 'modules/top-navbar';
@import 'modules/forms';
@import 'modules/sorting';

.table {
  display:table;
  width: 100%;
}

.tr {
  display:table-row;
}

.td {
  display:table-cell;
}

.data-label {
  font-weight: bold;
}

.li {
  display: inline-flex;
}
